body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 20px;
    font-size: 14px;
    height: 45px;
}

#navbar #adminDashboard img{
    height: 10px;
    cursor: pointer;
}

#navbar #logo h2 {
    font-family: Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);;
    background-color: white;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 18px;
    height: 45px;
}

#header #avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10%);
}

#pages p {
    padding: 0 20px;
    font-size: 13px;
    opacity: 70%;
    padding-bottom: 15px;
    cursor: pointer;
}

#pages p:hover {
    opacity: 100%;
}

#pages .active {
    opacity: 100%;
    border-bottom: 1px solid rgb(0, 162, 255);
}

#progressInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

#progressInfo #publish {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-left: 10px;
    cursor: pointer;
}

#progressInfo #publish:hover, #progressInfo img:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

#progressInfo img {
    height: 11px;
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#bannerComponent {
    position: relative;
}

#bannerComponent #controls {
    position: absolute;
    top: 40%;
    width: 100%;
}

#bannerComponent #controls img {
    height: 20px;
    opacity: 75%;
    border-radius: 5px;
    padding: 50px 7px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 60%;
}

#bannerComponent #controls img:hover {
    opacity: 80%;
}

#bannerComponent #controls #previous {
    position: absolute;
    left: 10px;
}

#bannerComponent #controls #next {
    position: absolute;
    right: 10px;
}

#bannerComponent #image {
    height: 560px;
    width: 100%;
    background-size: cover;
    background-position: top;
}

#bannerComponent #tour {
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    opacity: 80%;
    cursor: pointer;
}

#bannerComponent #tour:hover {
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#container {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

#profile {
    color: #5c5c5c;
    width: 300px;
    font-family: Times, 'Times New Roman', serif;
    padding-top: 40px;
}

#profile #userProfile {
    text-align: center;
    margin-bottom: 10px;
}

#profile #userProfile img {
    margin-left: 20px;
    height: 16px;
}

#profile #userProfile #location {
    font-size: 12px;
    margin-bottom: 15px;
}

#profile #userProfile #location img {
    margin-right: 20px;
}

#profile #userProfile img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: invert(80%);
}

#profile #description {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    padding-top: 15px;
}

#profile #label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-top: 30px;
}

#profile #label p {
    font-size: 13px;
    font-weight: 550;
    opacity: 75%;
    margin-bottom: 5px;
}

#profile #label button {
    background-color: rgb(226, 226, 226);
    border: none;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#profile #label button:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

#profile .items {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    font-size: 14px;
}

#profile .items:last-child {
    margin-bottom: -10px;
}

#profile .locations {
    display: flex;
    line-height: 5px;
    margin-bottom: 25px;
    margin-left: 10px;
    font-family: Roboto;
    position: relative;
    cursor: pointer;
}

#profile .locations img {
    transform: translateY(25px) scale(1.3);
    padding-right: 15px;
}

#profile .locations p {
    font-size: 10px;
    color: rgb(189, 189, 189);
    margin-bottom: 20px;
    margin-top: -5px;
}

#profile .locations h4 {
    font-size: 15px;
}

#profile .locations h5 {
    font-size: 12px;
    opacity: 85%;
}

#profile .locations .tags {
    background-color: rgb(226, 226, 226);
    padding: 5px 10px;
    font-size: 10px;
    color: rgb(109, 109, 109);
    margin-right: 5px;
    border-radius: 5px;
}

#profile .locations .links {
    position: absolute;
    right: 0px;
    top: 0px;
}

#profile .locations .links img {
    margin-left: 5px;
    height: 15px;
}

#profile .locations .links img:hover {
    cursor: pointer;
    filter: invert(80%);
}

#gallery {
    width: 600px;
    padding-top: 30px;
}

#gallery #galleryNav {
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 100%;
    text-align: center;
    padding-bottom: 7px;
}

#gallery #galleryNav .page {
    font-size: 12px;
    padding: 0 20px;
    opacity: 50%;
    line-height: 5px;
    padding-bottom: 7px;
}

#gallery #galleryNav .active {
    opacity: 100%;   
    border-bottom: 1px solid rgb(0, 162, 255); 
}

#gallery #galleryNav .page:hover { 
    opacity: 100%;
    cursor: pointer;
}

#gallery .galleryImage {
    width: 600px;
    height: auto;
    padding: 10px 0;
}

#gallery .galleryImage:hover {
    filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.7));
}