@media only screen and (max-width: 800px){
    #pages p {
        padding: 0 15px;
        transform: translate(0%);
        padding-bottom: 15px;
    }   
    #bannerComponent #image {
        height: 460px;
    }
    #gallery {
        width: 420px;
    }
    #profile {
        width: 260px;
    }
    #gallery .galleryImage {
        width: 420px;
    }
    #dashboard #overview {
        padding: 20px 45px;
    }  
    #dashboard #stats {
        width: 500px;
    }
    #dashboard #stats .card {
        width: 130px;
        padding: 20px 0;
    }

    #dashboard #table #heading {
        padding-left: 40px;
    }

    #dashboard #table p {
        width: 110px;
    }
    #dashboard #table .countryDetails {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 600px){
    #navbar #adminDashboard{
        display: none;
    }

    #navbar #logo {
        padding-left: 15px;
    }

    #pages p {
        padding: 0 10px;
        transform: translate(-30%);
        font-size: 11px;
        padding-bottom: 22px;
    }   

    #header #avatar {
        display: none;
    }

    #header #pages {
        margin: auto;
        transform: translate(18%);
    }

    #header #progressInfo {
        display: none;
    }

    #bannerComponent #image {
        height: 560px;
    }

    #gallery {
        width: 340px;
    }

    #gallery .galleryImage {
        width: 340px;
    }

    #dashboard #navigation {
        display: none;
    }
    #dashboard #overview {
        padding: 20px 25px;
    }  
    #dashboard #stats {
        width: 320px;
    }
    #dashboard #stats .card {
        width: 90px;
        padding: 10px 0;
    }

    #dashboard #table #heading {
        padding-left: 5px;
        font-size: 14px;
        border-radius: 7px;
    }

    #dashboard #table p {
        width: 80px;
    }
    #dashboard #table .countryDetails {
        padding-left: 5px;
        font-size: 13px;
    }
    #dashboard #stats p {
        font-size: 14px;
        font-weight: 550;
    }
    
    #dashboard #stats h4 {
        font-size: 15px;
    }
}   
