@media only screen and (max-width: 800px){
    #pages p {
        padding: 0 15px;
        transform: translate(0%);
        padding-bottom: 15px;
    }   
    #bannerComponent #image {
        height: 460px;
    }
    #gallery {
        width: 420px;
    }
    #profile {
        width: 260px;
    }
    #gallery .galleryImage {
        width: 420px;
    }
}

@media only screen and (max-width: 600px){
    #navbar #adminDashboard{
        display: none;
    }

    #pages p {
        padding: 0 10px;
        transform: translate(-30%);
        font-size: 11px;
        padding-bottom: 22px;
    }   

    #header #avatar {
        display: none;
    }

    #header #pages {
        margin: auto;
        transform: translate(18%);
    }

    #header #progressInfo {
        display: none;
    }

    #bannerComponent #image {
        height: 560px;
    }

    #gallery {
        width: 340px;
    }

    #gallery .galleryImage {
        width: 340px;
    }
}   